.div {
    color: coral;
    background-color: rgb(27, 27, 26);
    font-size: large;
    font-weight: bold;
    padding: .5rem;
}

span {
    display: flex;
    justify-content: center;
}

.div:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    border: 1rem solid rgb(243, 7, 7);
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    background-color: rgb(88, 88, 87);
}

.p {
    color: aqua;
    display: flex;
    justify-content: center;
}

//boton
aside {

    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
button{
    border: solid .5rem yellow;
    border-radius: 5rem;
    background-color: rgb(83, 82, 82);
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.bg{
    background-color: black;
    text-decoration: none;
}
.js:hover{
    background-color: rgb(241, 15, 15);
}
strong {
    color: rgb(248, 242, 242);
   text-decoration: none;
    font-size: 3rem;
}

//Tio SAM
h1, h2{
    font-size: 3rem;
    margin-top: 1rem;
    background-color: rgb(193, 196, 69);
    display: flex;
    justify-content: center;
}
.div-sam{
    background-color: rgb(224, 186, 243);
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
img{
    grid-area: 1/2/1;
    border: solid .3rem black;
    border-radius: 0 10rem 0 10rem;
}
img:hover{
    transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
}
.defino{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




//JS
.salir{
    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: 2rem;
    background-color: rgb(165, 162, 162);
    border: rgb(37, 37, 37) solid .2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}